@model kgbvjh.Models.HrModel

@{
    ViewBag.Title = "HR";
}

<h2>Create </h2>
<div class="container">
    <div class="row>">
        <form role="form">
            <div class="form-group">
                <div class="col-xs-6 col-md-4">

                    <label>  How many full time teachers are there in the school?</label>
                    <input type="" class="form-control" id="F01"/>
                </div>
                <div class="col-xs-6 col-md-4">

                    <div class="col-xs-6 col-md-4">How many part time teachers are there in the school?</div>
                    <input type="" class="form-control" id="F02"/>
                </div>
            </div>
           
            <div class="col-xs-6 col-md-4">How many teachers are there for each of these subjects?</div>
            <div class="col-xs-6 col-md-4">How many cooks are there in school?</div>
            <div class="col-xs-6 col-md-4">How many guards are there in school?</div>
            <div class="col-xs-6 col-md-4">Is there an accountant in the school?</div>
            <div class="col-xs-6 col-md-4">Is there any vacancy in school?</div>
            <div class="col-xs-6 col-md-4">What vacancies are in the school?</div>
            <div class="col-xs-6 col-md-4">No of vacancies in the school</div>
        </form>
    </div>
</div>
